@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,400;0,700;0,900;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: '#69709F';
    --red: '#E94957';
    --orange: '#FF7E47';
    --yellow: '#FFFD85';
    --turquoise: '#2CDAC5';
}

#menu-toggle:checked + #menu {
    display: block;
}

.hyper {
    @apply font-rubik font-black italic
}

#hero {
    @apply pl-10 md:pl-12
}

section {
    @apply mx-auto w-10/12 pt-20
}

.left-svg {
    left: 65%;
}

.leftxl-svg {
    left: 80%;
    transform: scale(2);
}

p {
    @apply text-black opacity-70 font-inter
}

section > h1 {
    @apply font-rubik text-5xl uppercase font-bold
}

section > h1 + p {
    @apply mt-2 text-xl md:text-2xl w-11/12
}

section > h1 + h2 {
    @apply text-xl md:text-2xl w-11/12
}

.backgroundblur {
    backdrop-filter: blur(4px);
}

.fit-content {
    width: fit-content;
  }
.img-provider:hover img {
    filter: brightness(0) invert(1);
}